{% extends "wrapper.html" %}
{% load static %}

{% block link %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/items.css' %}" rel="stylesheet">
<link href="{% static 'css/item.css' %}" rel="stylesheet">
{% endblock link %}

{% block title %}
{{item.name}}
{% endblock title %}

{% block content %}
<section class="item wrapper" id="item">
    <div class="product-page">
        <h1 class="product-name">{{item.name}}</h1>
        <div class="product-description">
          <p>{{item.description}}</p>
        </div>
        <div class="product-info">
          <ul>
            <li><span>Type:</span> {{item.type}}</li>
            <li><span>Rarity:</span> {{item.rarity}}</li>
            <li><span>Price:</span> {{item.value}}$</li>
          </ul>
        </div>
      </div>
</section>

<section class="call-to-action" id="call-to-action">
    <h2 class="text-center wrapper">Will you accept the challenge of the Eternal Odyssey?</h2>
    <div class="wrapper">
        <p>Begin a legendary quest of discovery and bravery, venture into a boundless open world, confront formidable
            foes,
            and unravel the mysteries of a long-lost realm, where ancient secrets and hidden wonders await.
            Join the adventure and experience the ultimate RPG experience.
        </p>
        <a href="{% url 'profile' %}" class="join-btn">Explore Alfa right now!</a>
    </div>
</section>
{% endblock content %}