{% extends "wrapper.html" %}
{% load static %}

{% block link %}
<link href="{% static 'css/items.css' %}" rel="stylesheet">
{% endblock link %}

{% block title %}
Explore the items
{% endblock title %}

{% block content %}
<section class="wrapper" >
<!-- Форма фильтрации -->
<form method="get" action="{% url 'explore_items' %}">
  <input type="text" name="search" placeholder="Search items..." value="{{ search_query }}">
  <label for="type">Type:</label>
  <select name="type" id="type">
    <option value="">All</option>
    <option value="armor" {% if type_filter == 'armor' %}selected{% endif %}>Armor</option>
    <option value="potion" {% if type_filter == 'potion' %}selected{% endif %}>Potion</option>
    <option value="scroll" {% if type_filter == 'scroll' %}selected{% endif %}>Scroll</option>
    <option value="weapon" {% if type_filter == 'weapon' %}selected{% endif %}>Weapon</option>
    <option value="accessory" {% if type_filter == 'accessory' %}selected{% endif %}>Accessory</option>
  </select>
  <button type="submit">Search</button>
</form>
    <div class="cards m">
        {% if items %}
            {% for item in items %}
                <div class="card bigs">
                  <a class="text" href="{% url 'item' item.pk %}">
                    <h1 class="card-text">{{ item.name }}</h1>
                </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No items found.</p>
        {% endif %}
    </div>
    <div class="pagination">
      {% if items.has_previous %}
          <a class="btn-pag" href="?page=1&search={{ search_query }}&type={{ type_filter }}">First</a>
          <a class="btn-pag" href="?page={{ items.previous_page_number }}&search={{ search_query }}&type={{ type_filter }}">Previous</a>
      {% endif %}
      
      <span class="current-page">Page {{ items.number }} of {{ items.paginator.num_pages }}</span>
      
      {% if items.has_next %}
          <a class="btn-pag" href="?page={{ items.next_page_number }}&search={{ search_query }}&type={{ type_filter }}">Next</a>
          <a class="btn-pag" href="?page={{ items.paginator.num_pages }}&search={{ search_query }}&type={{ type_filter }}">Last</a>
      {% endif %}
  </div>
  
</section>
{% endblock content %}
