{% extends "wrapper.html" %}
{% load static %}


{% block link %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock link %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}
<section class="login-form wrapper">
    <form method="POST" >
        {% csrf_token %}
        <legend>Change your password.</legend>
        <div class="form-grid">
            <label for="old_password">Old password:</label>
            <input type="password" placeholder="Itsasecret228" id="old_password" name="old_password">
    
            <label for="password">Password:</label>
            <input type="password" placeholder="Itsasecret1337" id="new_password1" name="new_password1">
            <label for="password">Password:</label>
            <input type="password" placeholder="Itsasecret1337" id="new_password2" name="new_password2">
        </div>
        {{form.errors}}
        <div class="clicks">
            <button type="submit" class="btn-login">Change</button>
        </div>
    </form>
</section>
{% endblock content %}