{% extends "wrapper.html" %}
{% load static %}


{% block link %}
<link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock link %}

{% block title %}
Join us
{% endblock title %}

{% block content %}
<section class="registration-form wrapper">
    <form method="POST">
        {% csrf_token %}
        <legend>Registration.</legend>
        <div class="form-grid">
            <label for="username">Username:</label>
            <input type="text" placeholder="Alt1tlA" id="username" name="username">
            <label for="email">Email:</label>
            <input type="email" placeholder="veronika@gerdzhikova.ru" id="email" name="email">
    
            <label for="password1">Password:</label>
            <input type="password" placeholder="Itsasecret228" id="password1" name="password1">
            <label for="password2">Password:</label>
            <input type="password" placeholder="Itsasecret228" id="password2" name="password2">
        </div>
        {{form.errors}}
        <div class="clicks">
            <a href="{% url 'login' %}" class="btn-login">Log in</a>
            <button type="submit" class="btn-login">Sing up</button>
        </div>
        
    </form>
</section>
{% endblock content %}